*{
 font-family: "Roboto Mono", serif;
 color: #0c0c53;
}

#slug{
  margin: auto;
  font-style: italic;
  width: 70%; 
  display: table;
  text-align: center;
  font-size: 0.7rem;
}

#download{
  position: sticky;
  position: webkit-sticky;
  float: right;
  text-align: right:
  border: #ffefef;
  background-color: #0c0c53; 
}


li {
  list-style: none;
  padding-top: 0.7rem; 
}

ul {
  columns:3;
  -webkit-columns: 3;
}

h1 {
  text-align: center;
  font-size: 1.25rem;
}

body {
  background-color: #fefeff;
  color: white;
  margin-left: 10px;
}

h2 {
  margin-left: 10px;
  text-align: left;
  font-size: 1rem;
}

li {
  margin-left: 25px;
  font-size: 0.5rem;
  color: #0c0c53;
}
