*{
 font-family: "Roboto Mono", serif;
 color: #ffefef;
}

h1 {
  margin: 0 auto;
  top: 20vh;
  width: 100vw;
  text-align: center;
  font-size: 6vh;
}

body {
  background-color: #0c0c33;
  height: 100vh;
  width: 100vw;
  color: white;
  margin-left: 10px;
}

h2 {
  margin-left: 10px;
  top: 20vh;
  width: 100vw;
  text-align: left;
  font-size: 4vh;
}

li {
  margin-left: 25px;
}
