*{
 font-family: "Roboto Mono", serif;
}

body {
  background-color: black;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

h1 {
  position: relative;
  margin: 0 auto;
  top: 20vh;
  width: 100vw;
  text-align: center;
  font-size: 6vh;
  color: $color;
}

