*{
 font-family: "Roboto Mono", serif;
 color: #ffefef;
}

h1 {
  margin: 0 auto;
  text-align: center;
  font-size: 2rem;
}

body {
  background-color: #0c0c53;
  color: white;
  margin-left: 10px;
}

h2 {
  margin-left: 10px;
  text-align: left;
  font-size: 1.5rem;
}

li {
  margin-left: 25px;
}
